
h2{
    color:green;/*apply colors based on color name*/
    font-size: 30px;/*using absolute units to discribe the size of h2 fonts*/
}
.class1{
    color: rgb(100,5,20);/*apply colors based on rgb alpha values to a class*/
    font-size: 2cm;/*using absolute units to discribe the size of class 1 fonts*/
}
#text{
    font-size: 3mm;/*using absolute units to discribe the size of text id fonts*/
    max-width: 500px;
    height: 100px;
    background-color: yellow;
}

ul>li{
    font-size: 2vw;/*using relative units to discribe the size of list under unordered list fonts*/
    margin:auto
}

p+a{
    font-size: 1em;/*using relative units to discribe the size of a elements after paragrah fonts*/
}

[title*="Pomodoro Timer First Brainstorm"]{
    color: black;/*apply colors based on color name to a the the attributes title contain a specific text*/
    font-size: 2ch;/*using relative units to discribe the size of class 1 fonts*/
}
input:focus,input:hover{
    box-shadow: 2px 2px 1px red;/*create box shadow on textboxes*/

}
summary ~ p{
    color:green;
    font-size: 5ch;/*using relative units to discribe the size of paragraph under summary fonts*/
    text-decoration: line-through;/*create a decoration line through this part of the text*/
}

details summary{
    color:purple;
    text-align: right;/*align the text to the right*/
}
main.h3{
    color:green;
}
li{
    display: inline;/*display the list in the same line*/
}
#hidden{
    display: none;/*hidden heading*/
    min-width: 100%;
}
#sizing {
    height: 50px;
    width: 50%;/*set the size*/
    background-color: powderblue;
    position:static/*set the position to static*/
  }
 #sticky{
    position: -webkit-sticky;
    position: sticky;/*make this stick on the top of the page when scrolling down*/
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
 }
 a:hover {
    color: #FF00FF;/*change color when hovering*/
  }
  
  
  a:active {
    color: #0000FF;/*change color when active*/
  }

  #flexbox{/*created a flexbox*/
      display: flex;
      background-color: #cae8ca;
  }
  #flexbox > div{/*set different values of the element in the flexbox*/
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
  #grid{/*created a grid*/
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color:teal;
    padding: 10px;
  }
  #grid > div{/*set different values of the element in the flexbox*/
    background-color: rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 480px) {/*change the displays on mobile devices*/
    * {
      width: 100%;
    }
  }

  @font-face {
    font-family: "myFont";
    src: Documents/fa21/cse110/fa21-cse110-lab3;
  }